body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lavender;
}

.had {
    background-color: bisque;
    border-style:outset;
    border-width: 5px;
    border-color: lightpink;
    border-radius: 150px;
    padding: 75px;
    box-shadow: 0px 15px 5px rgb(18, 17, 17); 
}

.quest1 {
   text-align: center;
}

.quest2 {
   text-align: center;
}

.quest3 {
    text-align: center;
}

.quest4 {
    text-align: center;
}

.quest5 {
    text-align: center;
}

.sub {
    text-align: center;
}

