.about {
    float: center;
    font-size:50px;
}

.title {
    float: center;
    font-size:30px;
    color:black;
}

.me {
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
    text-align: left;
    float: auto;
    font-size:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head {
    text-align: center;
    border: 5px solid rgb(34, 33, 33);
    padding: 5px;
    margin: 5px;
    background-color:white;
    float: center;
}